services:
  postgres:
    image: postgres:16-alpine
    container_name: assignment-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5434:5432"
    volumes:
      - assignment_postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - assignment-network

  ingestion:
    build: .
    container_name: assignment-ingestion
    environment:
      API_KEY: ds_086cfa60c0c2a3df470fe85084780c07
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - assignment-network

volumes:
  assignment_postgres_data:

networks:
  assignment-network:
    driver: bridge
